<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mykino">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Steilesactivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".Monaactivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".Randomactivity"
            android:parentActivityName=".Kinoactivity"/>

        <activity
            android:name=".Personactivity"
            android:parentActivityName=".Kinoactivity" />

        <activity android:name=".Photoactivity"
            android:parentActivityName=".Kinoactivity"/>

        <activity android:name=".Infoactivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".Jockeractivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".Kinoactivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobid"/>
    </application>

</manifest>